<h1 class="header">${title}</h1>

<h2>${data.name}</h2>
    <ul>
        <li>This data is <strong>${data.distance} mile from Duluth</strong></li>
        <li>It has a rating of <strong>${data.stars} out of 5!</strong></li>
        <li>Cuisine is <strong>${data.category}</strong></li>
        <li>Prefered dish: <strong>${data.favorite_dish}</strong></li>
        <li>Takeout: <strong>${data.does_takeout ? 'Yes' : 'No'}</strong></li>
        <li>Previously ordered on <strong>${data.last_eaten}</strong></li>
    </ul>
<br>

<h2>Reviews</h2>
<form action="/" method="POST">
    <label>
        <input type="text" name="restaurant" placeholder="Restaurant Name">
        <input type="text" name="title" placeholder="Review Title">
        <input type="text" name="review" placeholder="Review Text">
        <select name="stars">
            <option type="integer" name="stars" value="1">1</option>
            <option type="integer" name="stars" value="2">2</option>
            <option type="integer" name="stars" value="3">3</option>
            <option type="integer" name="stars" value="4">4</option>
            <option type="integer" name="stars" value="5">5</option>
        </select>
        <input type="text" name="reviewer_id" placeholder="Reviewer Id">
        <input type="text" name="restaurant_id" placeholder="Restaurant Id">
    </label> 
    <button type="submit">Submit Review</button>
</form>